<table bgcolor = "#ffffff" summary = "Width Calc Fields">
	<tr >
		<td width = '160' bgcolor = '#D9D9D9'><b>Thickness: </b></td>
		<td width = '160' bgcolor = '#D9D9D9'><center><%= number_with_precision((params[:results][0].to_f), precision: 4) %></center></td>
	</tr>
	<tr>
		<td width = '160' bgcolor = '#D9D9D9'><b>Web:       </b></td>
		<td width = '160' bgcolor = '#D9D9D9'><center><%= number_with_precision((params[:results][1].to_f), precision: 4)  %></center></td>
	</tr>
	<tr>
		<td width = '160' bgcolor = '#D9D9D9'><b>Leg:       </b></td>
		<td width = '160' bgcolor = '#D9D9D9'><center><%= number_with_precision((params[:results][2].to_f), precision: 4) %></center</td>
	</tr>
	<tr>
		<td width = '160' bgcolor = '#D9D9D9'><b>Flange:    </b></td>
		<td width = '160' bgcolor = '#D9D9D9'><center><%= number_with_precision((params[:results][3].to_f), precision: 4)  %></center></td>
	</tr>
</table>