<table bgcolor = "#FFFFFF" class="table table-bordered" summary = "Length Calc Thickness">
	<tr>
		<td width = "120" bgcolor = "#D9D9D9">Thickness:</td>
		<td width = "20" bgcolor = "#D9D9D9"><%= text_field_tag(:thickness) %></td>
	</tr>
</table>
<table bgcolor = "#FFFFFF" class="table table-bordered" summary = "Length Calc Fields">	
	<tr>
		<td width = "120" bgcolor = "#D9D9D9">&nbsp;</td>
		<td width = "20" bgcolor = "#D9D9D9">Inches (6 5/8 or 6.625)</td>
	</tr>
	<tr>
		<td width = "100" bgcolor = "#D9D9D9">Width:      </td>
		<td width = "20" bgcolor = "#D9D9D9"><%= text_field_tag(:widthIn) %></td>
	</tr>
	<tr>
		<td width = "120" bgcolor = "#D9D9D9">Inner Diameter:      </td>
		<td width = "20" bgcolor = "#D9D9D9"><%= text_field_tag(:innerDiamIn) %></td>
	</tr>
	<tr>
		<td width = "120" bgcolor = "#D9D9D9">Outer Diameter:   </td>
		<td width = "20" bgcolor = "#D9D9D9"><%= text_field_tag(:outerDiamIn) %></td>
	</tr>
</table>
